/* IFrames.css */

/* Tag Selectors */
li {
	padding-bottom: 3px;
}

ul {
	list-style-type: none; /* Eliminates bullets. */
	padding-left: 10px;
}

/* Class Selectors */
.navGroup {
	padding-bottom: 3px;
}

/* ID Selectors */
#content {
	height: 100%;
	left: 20%;
	position: fixed;
	top: 0px;
	width: 80%;
}

#contentFrame {
	border: none;
	height: 100%;
	width: 100%;
}

#navBar {
	background-color: lightsteelblue;
	height: 100%;
	position: fixed;
	top: 0px;
	width: 20%;
}

#navFrame {
	border: none;
	height: 100%;
	width: 100%;
}

/* ID/Class Selections */
#navBar .navGroup:hover, .navItem:hover {
	background-color: aliceblue;
}
